<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/Member/join">
    id:<input type="text" id="id" name="id"><input th:type="button" id="check" value="idcheck"></input><p id="result"></p><br>
    pw:<input type="password" name="pw"><br>
    lolid:<input type="text" name="lolId"><br>
    <button>회원가입</button>
</form>
<script>
    $('#check').on("click",function() {
        let id=document.getElementById('id').value
        console.log(id)
        $.ajax({
            method: 'get',
            url: '/member/check',
            data: {'id':id}
        }).done(function (res) {
            console.log(res);
            $("#result").html(res);
        })

    })
</script>
</body>
</html>